img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }

h3{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.email{
    color: blue;
    text-decoration: underline;
}

h5{
    font-size: 18px;
    font-weight: bold;
}

.card-title{
    font-weight: bold;
    font-size: 24px;
}
.bioData{
    margin-top: 20px;
}
.intro{
    text-align: justify;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}